body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; /* if you want the light version */
  font-size: 100;
  line-height: ;
  background-color: #d9e4dd;
}

h1, h2 {
  color: #799351;
  font-weight: 900;
}
/*background-color, font-family, color, font-size and line-height for the <body>*/
.img-circle {
  border-radius: 10%;
  width: 100px;
}
.container {
  background-color: #d9e4dd;
}

.card-top {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 20px 120px;
  text-align: center;
}

.card-bottom {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
  border-radius: 10px;
  margin: 20px 120px;
  text-align: center;
}
.btn-red {
  background-color: #ec524b;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-align: center;
}

/*.container ul {
  list-style-type: none;
  font-size: 50px
  margin: 0 auto;
  align-content: center;
}*/


.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
